# Python
__pycache__
venv
.mypy_cache
*.pyc

# Django
empirical_semantic_information/local.py
empirical_semantic_information/db.sqlite3
empirical_semantic_information/media
empirical_semantic_information/static

# SublimeText
*.sublime-project
*.sublime-workspace

# Vim
Session.vim
*.kate-swp
